body {
  background-color: #261919;
  font-family: sans-serif;
  padding: 10px 30px;
}

header {
  border-bottom: 1px solid grey;
}

.header-icon img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

.header-list {
  /* border: 3px solid white; */
}

.header-list ul {
  text-align: right;
}

.header-list li {
  color: #aaa;
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

.header-list a {
  text-decoration: none;
  color: #aaa;
}

.header-list a:hover {
  text-decoration: none;
  color: #aaa;
  opacity: 0.7;
}

.middle-wrapper {
  /* height: 400px; */
  /* border: 3px solid white; */
  text-align: center;
  color: #aaa;
  padding: 30px 0;
}

.introduction {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.middle-wrapper h2{
  font-size: 36px;
}

.introduction span{
  color: rgb(200, 58, 33);
}

.my-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.command-area {
  padding-top: 100px;
}

.contents h1 {
  color: rgb(127, 218, 90);
}

footer {
  border-top: 1px solid grey;
}

footer p{
  text-align: right;
  color: #aaa;
  opacity: 0.7;
}
